# Question 1

In [1]:
question_1 = [1,7,-10,34,2,-8]

In [2]:
sum = 0
for i in question_1:
    sum = sum + i
print("The sum is: ", sum)

The sum is:  26

# Question 2

In [3]:
question_2 = [3,4,5,4,7]

In [4]:
multiplication = 1
for i in question_2:
    multiplication = multiplication*i
print("The multiplication of all items is: ", multiplication)

The multiplication of all items is:  1680

# Question 3

In [5]:
question_3 = [1,7,10,34,2,8]

In [6]:
question_3.sort(reverse = True)

In [7]:
print ("The largest number from the list is: ", question_3[0])

The largest number from the list is:  34

# Question 4

In [8]:
question_4 = [51,7,10,34,2,8]

In [9]:
question_4.sort(reverse = True)
print("The smallest mumber in the list is: ", question_4[-1])

The smallest mumber in the list is:  2

# Question 5

In [10]:
question_5 = ['abc', 'xyz', 'aba', '1221']

In [11]:
for i in question_5:
    for j in i:
        if len(j)>=2 and j[-1] == j[1]:
            i.count(j)

In [12]:
print("The number of elements is: ", i.count(j))

The number of elements is:  2

# Question 6

In [13]:
question_6 = [1,2,3,7,2,1,5,6,4,8,5,4]

In [14]:
import pandas as pd

unique_elements = pd.Series (question_6)
print(unique_elements.unique())

[1 2 3 7 5 6 4 8]

# Question 7

In [15]:
question_7 = [34,45,6,5,4,56,7]

In [16]:
if len(question_7)>0:
    print("List is Not Empty")
else:
    print("The List is Empty")

List is Not Empty

# Question 8

In [17]:
question_8 = [10, 22, 44, 23, 4]

In [18]:
copied = question_8.copy()
print("The clone or Copy is: ", copied)

The clone or Copy is:  [10, 22, 44, 23, 4]

# Question 9

In [19]:
sentence = "Find the List of Words that are Longer than n from a given List of Words"
question_9 = sentence.split()
print(question_9)

['Find', 'the', 'List', 'of', 'Words', 'that', 'are', 'Longer', 'than', 'n', 'from', 'a', 'given', 'List', 'of', 'Words']

In [20]:
new_list = []
for i in question_9:
    if len(i)>4:
        new_list.append (i)
print(new_list)

['Words', 'Longer', 'given', 'Words']

# Question 10

In [21]:
list_1 = [1,2,3,4,5]
list_2 = [5,6,7,8,9]

In [22]:
new_list = []
for i in list_1:
    for j in list_2:
        if i == j:
            new_list.append(i)
print ("The number of commen element in the list: ", len(new_list))

The number of commen element in the list:  1

# Question 11

In [23]:
question_11 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]

In [24]:
question_11.remove(question_11[5])
question_11.remove(question_11[4])
question_11.remove(question_11[0])
print(question_11)

['Dog', 'Elephant', 'Fox', 'Ponda']

# Question 12

In [25]:
question_12 = [7,32,81,20,25,14,23,27]

In [26]:
odd_list = []
for i in question_12:
    if i%2 !=0:
        odd_list.append(i)
odd_list

[7, 81, 25, 23, 27]

# Question 13

In [27]:
question_13 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
specified_list = question_13.copy()

In [28]:
import random
random.shuffle(specified_list)
specified_list

['Ponda', 'Elephant', 'Cat', 'Fox', 'Lion', 'Dog', 'Tiger']

# Question 14

In [29]:
generated_list = []
for i in range (1,30):
    i = i**2
    generated_list.append(i)
print (generated_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [30]:
first_5 = generated_list[0:5]
print("First 5 elements: ", first_5)

First 5 elements:  [1, 4, 9, 16, 25]

In [31]:
last_5 = generated_list[-1:-6:-1]

In [32]:
last_5.sort()

In [33]:
print("Last 5 elements: ", last_5)

Last 5 elements:  [625, 676, 729, 784, 841]

# Question 15

In [34]:
from itertools import permutations
question_15 = [1,2,3]
permuted_list = []
a = permutations(question_15)
for i in list (a):
    permuted_list.append(i)
print(permuted_list)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

# Question 16

In [35]:
question_16 = ['T','u','t','o','r',' ','J','o','e','s']

String = ''
for i in question_16:
    String = String+i
print(String)

Tutor Joes

# Question 17

In [36]:
question_17 = [20, 70, 30, 90, 10, 30, 90, 10, 80]

In [37]:
number = int(input("Enter the element from the list you want to check the index: "))
print("Index Number of Item:", question_17.index(number))

Enter the element from the list you want to check the index: 30
Index Number of Item: 2

# Question 18

In [38]:
question_18 = [[20,30,70],[30,90,10], [30,20], [70,90,10,80]]

In [39]:
new_list = []
for i in question_18:
    new_list.extend(i)
print(new_list)

[20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

# Question 19

In [40]:
l1 = [10, 20, 30, 40]

l2 = ["Cat", "Dog", "Lion", "Ponda"]

l1.extend(l2)
print(l1)

[10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

# Question 20

In [41]:
import random
question_20 = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
a = random.choice(question_20)
print("Item randomly from a list: ", a)

Item randomly from a list:  Ponda

# Question 21

In [42]:
# Function defining
def circularly_identical(list1, list2):
  list1.extend(list1)
  
  # traversal in twice of list1
  for i in range(len(list1)):
  
    # checking if sliced list1 is equal to list2
    if list2 == list1[i: i + len(list2)]:
  
      return True
  return False

In [43]:
# Function call
circularly_identical([8, 8, 12, 12, 8], [8, 8, 8, 12, 12])

True

In [44]:
# Function call
circularly_identical([8, 8, 12, 12, 8], [1, 8, 8, 12, 12])

False

# Question 22

In [45]:
question_22 = [2,4,56,78,4,34,5,8,9]
question_22.sort()
print("Second Smallest Number:", question_22[1])

Second Smallest Number: 4

# Question 23

In [46]:
question_23 = [82,4,56,78,4,34,5,100,9]
question_23.sort(reverse = True)
print("Second Largest Number:", question_23[1])

Second Largest Number: 82

# Question 24

In [47]:
question_24 = [82, 4, 10, 56, 78, 4, 34, 5, 10, 9]
List = pd.Series(question_24)
print(List.unique())

[82  4 10 56 78 34  5  9]

# Question 25

In [48]:
question_25 = [10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]

In [49]:
for i in question_25:
    question_25.count(i)
    Counter = ({i:question_25.count(i)})
    print(Counter)

{10: 2}
{30: 2}
{50: 3}
{10: 2}
{20: 2}
{60: 2}
{20: 2}
{60: 2}
{40: 2}
{40: 2}
{50: 3}
{50: 3}
{30: 2}

## Question 26

In [50]:
question_26 = ['T', 'J']

In [51]:
for i in range (1,10):
    new_list = question_26*i
print(new_list)

['T', 'J', 'T', 'J', 'T', 'J', 'T', 'J', 'T', 'J', 'T', 'J', 'T', 'J', 'T', 'J', 'T', 'J']

# Question 27

In [52]:
import uuid

In [53]:
x = 30
s = "Tutor Joes"

In [54]:
id(x)

2450835795152

In [55]:
id(s)

2451192098928

# Question 28

In [56]:
list_1 = [23,45,67,78,89,34]
list_2 = [34,89,55,56,39,67]

In [57]:
common_list = []
for i in list_1:
    for j in list_2:
        if i == j:
            common_list.append(i)

In [58]:
common_list

[67, 89, 34]

# Question 29

In [59]:
from collections import defaultdict

In [60]:
words = ["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", "bear"]

# Create a defaultdict to hold the lists of words by their first character
grouped_words = defaultdict(list)

# Iterate through the list of words
for word in words:
    first_char = word[0].lower()
    # Append the word to the list corresponding to its first character
    grouped_words[first_char].append(word)
grouped_words = dict(grouped_words)
for key, value in grouped_words.items():
    print(f"Words starting with '{key}': {value}")

Words starting with 'c': ['cat', 'cow']
Words starting with 'd': ['dog']
Words starting with 't': ['tiger', 'turtle']
Words starting with 'l': ['lion']
Words starting with 'f': ['Fox']
Words starting with 's': ['Shark', 'Snake']
Words starting with 'm': ['mouse', 'monkey']
Words starting with 'b': ['bear']

# Question 30

In [61]:
question_30 = [1,2,4,3,6,7,5,8,9,7,8,9,10]

In [62]:
odds_list = []
for i in question_30:
    if i%2!=0:
      odds_list.append (i)
odds_list

[1, 3, 7, 5, 9, 7, 9]

# Question 31

In [63]:
question_31 = [10, 20, 30, 50, 80, 70, 70, 80, 10]

In [64]:
question_31_list= pd.Series(question_31)

In [65]:
print ("No of Unique Items in List:", len(question_31_list.unique()))

No of Unique Items in List: 6

# Question 32

In [66]:
question_32 = [2, 1, 2, 4, 6, 4, 3, 2, 1]
question_32_list= pd.Series(question_32).unique()
question_32_list

multiplication = 1
for i in question_32_list:
    multiplication = multiplication*i
print("Duplication removal list product: ", multiplication)

Duplication removal list product:  144

# Question 33

In [67]:
question_33 = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]

In [68]:
listed_elements = []
for i in question_33:
    if question_33.count(i)>2:
        listed_elements.append(i)
listed_elements

[4, 4, 3, 3, 4, 3]

# Question 34

In [69]:
question_34 = [4, 5, 6, 7, 3, 9]

In [70]:
for i in question_34:
    for j in range (1, 10):
        if i == j:
           print(True)

True
True
True
True
True
True

# Question 35

In [71]:
lst = [18, 18, 18, 6, 3, 4, 9, 9, 9]
consecutive_numbers = []

# Iterate through the list, stopping at the third last element
for i in range(len(lst) - 2):
    # Check if the current element is equal to the next two elements
    if lst[i] == lst[i+1] == lst[i+2]:
        # If the number is already recorded, skip to avoid duplicates
        if lst[i] not in consecutive_numbers:
            consecutive_numbers.append(lst[i])

# Print the results
if consecutive_numbers:
    print("Three Consecutive common numbers =", ", ".join(map(str, consecutive_numbers)))
else:
    print("No three consecutive common numbers found.")

Three Consecutive common numbers = 18, 9

# Question 36

In [72]:
question_36 = [10,20,30,20,30,400]

In [73]:
new_list = []
for i in range (len(question_36)-1):
    new_list.append(max(question_36[i], question_36[i + 1]))
new_list

[20, 30, 30, 30, 400]

# Question 37

In [74]:
question_37 = [1, 2, 3]

In [75]:
from itertools import permutations
possible_combination = []
b = permutations (question_37)
for i in list(b):
    possible_combination.append(i)
possible_combination

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

# Question 38

In [76]:
question_38 = ['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']]

In [77]:
combination = []
c = permutations (question_38)
for i in list(c):
    combination.append(i)
combination

[('Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']),
 ('Tutor Joes', ['Solution', 'Education'], ['Software', 'Computer']),
 (['Software', 'Computer'], 'Tutor Joes', ['Solution', 'Education']),
 (['Software', 'Computer'], ['Solution', 'Education'], 'Tutor Joes'),
 (['Solution', 'Education'], 'Tutor Joes', ['Software', 'Computer']),
 (['Solution', 'Education'], ['Software', 'Computer'], 'Tutor Joes')]

# Question 39

In [78]:
list_1 = ['A','B','C']
list_2 = [1,2,3]

In [79]:
import itertools
from itertools import permutations
combined_list = []
permut = itertools.permutations(list_1, len(list_2))
for i in list(permut):
    zipped = zip(i, list_2)
    combined_list.append(list(zipped))
combined_list

[[('A', 1), ('B', 2), ('C', 3)],
 [('A', 1), ('C', 2), ('B', 3)],
 [('B', 1), ('A', 2), ('C', 3)],
 [('B', 1), ('C', 2), ('A', 3)],
 [('C', 1), ('A', 2), ('B', 3)],
 [('C', 1), ('B', 2), ('A', 3)]]

# Question 40

In [80]:
question_40 = [1, 3, 4, 6, 5, 1]
question_40.remove(1)
question_40

[3, 4, 6, 5, 1]

# Question 41

In [81]:
question_41 = [ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ]

In [82]:
new_list = []
for i in question_41:
    has_consecutive_duplicates = False
    for index in range(len(i) - 1):
        if i[index] == i[index + 1]:
            has_consecutive_duplicates = True
            break
    if not has_consecutive_duplicates:
        new_list.append(i)

new_list

[('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C')]

# Question 42

In [83]:
question_42_list_1 = ['Tutor Joes', 'Computer', 'Education']
question_42_list_2 = [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]

In [84]:
result_list = []

for i in question_42_list_2:
    if i == 2:
        result_list.append(question_42_list_1[-1])
    elif i == 1:
        result_list.append(question_42_list_1[1])
    elif i == 0:
        result_list.append(question_42_list_1[0])
print(result_list)

['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

# Question 43

In [85]:
question_43 = [ (4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9) ]

In [86]:
new_list = []
for i in question_43:
    if i.count(5)==2:
        new_list.append (i)
new_list

[(4, 5, 6, 5, 4), (5, 5, 2)]

# Question 44

In [87]:
question_44 = ['Tutor', 'joes', 'Computer', 'Education']

In [88]:
question_44[2] = 'Software'
question_44[3] = 'Solutions'
question_44

['Tutor', 'joes', 'Software', 'Solutions']

# Question 45

In [89]:
Original_list = ['Tutor', 'joes', 'Computer', 'Education']

In [90]:
print("Reverse List:",Original_list[::-1])

Reverse List: ['Education', 'Computer', 'joes', 'Tutor']

In [91]:
Original_list = ['Tutor', 'joes', 'Computer', 'Education']

# Question 46

In [92]:
def find_kth_word_position(strings_list, k):
    combined_string = ' '.join(strings_list)
    words = combined_string.split()
    if k <= 0 or k > len(words):
        return "Invalid value of K. There are only {} words in the list.".format(len(words))
    kth_word = words[k-1]
    
    position = combined_string.find(kth_word)
    
    return position + 1

In [93]:
strings_list = ['Tutor', 'joes', 'Computer', 'Education']
k = 2
position = find_kth_word_position(strings_list, k)

print("Index of character at Kth position word:",position)

Index of character at Kth position word: 7

# Question 47

In [94]:
question_47 = ['TjC', 'TjCpp', 'TjPython', 'Java']

In [95]:
count = 0
for i in question_47:
    if i.startswith('Tj'):
        count = count+1
print ("Strings count with matching frequency: ",count)

Strings count with matching frequency:  3

# Question 48

In [96]:
# List of strings
string_list = ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']
prefix = 'Tj'
result = []

In [97]:
# Iterate through each string in the list
for string in string_list:
    # Split the string by the prefix
    parts = string.split(prefix)
    
    # Iterate through the parts, re-adding the prefix where it was split off
    for i, part in enumerate(parts):
        if i > 0:
            result.append(prefix + part)
        else:
            # Add the first part only if it's non-empty
            if part:
                result.append(part)

print("Split Strings:", result)

Split Strings: ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']

# Question 49

In [98]:
question_49 = ['P', 'Y', 'T', 'H', 'O', 'N']
List = []

In [99]:
for i in question_49:
    if i == 'T':
        i = 'T'
    else:
        i = '@'
    List.append(i)
List

['@', '@', 'T', '@', '@', '@']

# Question 50

In [100]:
import re

In [101]:
question_50 = ['TutorJoes', 'ComputerEducations']

In [102]:
for i in question_50:
    spaced_string_list = re.sub(r'(?<=[a-z])(?=[A-Z])', ' ',i)
    print(spaced_string_list)

Tutor Joes
Computer Educations